.grid-container {
    display: grid;
    grid-template-columns: 225px 1fr;
    /* Adjust the widths as needed */
    grid-gap: 30px;
    height: 100vh;
    /* Adjust the gap between columns */
  background-color: #343541;
    
}


.sidebar {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(0, 1fr));
    grid-gap: 10px;
    padding: 20px 0px 0px 0px;
    height: 100%;
}

.sidebar li {
    display: grid;
    justify-content:start;
    justify-items: center;
    /* align-items: center; */
    padding-left: 30px;
    height: 30px;
    width: 200px;
    background-color: transparent;


}


.link-text{
    margin-left: 5px;
    vertical-align: middle;
    background-color: transparent;
    width: 100%;
    font-size: 12px;

}

.sidebar-link {
    color: inherit;
    background-color: transparent ;
    text-decoration: none;
    width: 100%;
}
.mainContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    padding:0px 10px 0px 0px;
    background-color: transparent;
    overflow-y: auto ;
}
.mainContainer::-webkit-scrollbar {
  width: 0px;
}
@media (max-width: 800px) {
  .mainContainer {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 10px;
      padding: 0px 10px 0px 0px;
      background-color: transparent;
      width: 500px;
    overflow-y: auto;

    }
    .accessPointList{
      width: 500px;
    }
}


.listarea {
  max-height: 500px;
  max-width: 500px;
  overflow-y: auto;
  margin-right: 5px;
}
.listarea::-webkit-scrollbar {
  width: 0px;
  /* Width of the scrollbar */
}

.card-body::-webkit-scrollbar{
  width: 0px;
}


.maincontent {
    padding: 30px 10px 0px 0px;
    height: 100%;
    overflow-y: auto;
}
.maincontent ::-webkit-scrollbar{
  width: 0px;
}
.usersListArea{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
  overflow-y: auto;
  max-height: 85vh;

}
@media (max-width: 1020px) {
  .usersListArea {
    display: grid;
    grid-template-columns:  1fr 1fr;
    grid-gap: 5px;
    overflow-y: auto;
    max-height: 85vh;

  }
}@media (max-width: 800px) {
  .usersListArea {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    overflow-y: auto;
    max-height: 85vh;
    max-width: 360px;
  }
}
p{
  text-decoration: underline;
  font-size: 11px;
}
.usersListArea::-webkit-scrollbar{
  width: 0px;
}


button{
  margin-left: 3px;
}
.listarea{
  overflow-y: auto;
  max-height: 500px;
}

.listarea::-webkit-scrollbar {
  width: 0px; /* Width of the scrollbar */
}

.listarea::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Color of the track */
}

.listarea::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar handle */
  border-radius: 50px;
}

.listarea::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color of the scrollbar handle on hover */
}
.footer {
    position: fixed;
    bottom: 0px;
    left: 55%;
    
}

.footer p {
    font-size: 10px;
}

label{
  color: #fff;
}

.historyPage{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-height: 90vh;
  grid-gap: 30px;
  overflow-y: auto  ;
  
}
.historyPage::-webkit-scrollbar{
  width: 8px;
  
}
.historyPage::-webkit-scrollbar-thumb{
  color: wheat;
}

.loading-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #cccccc;
  border-top-color: #333333;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.loading-text {
  margin-top: 10px;
  font-size: 18px;
  color: #333333;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.none{
  position: absolute;
  width: 0px;
  height: 0px;
}

.alertPopup{
  animation: 1 pop 0.5s forwards ;
}

@keyframes pop {
  from{
    top: -150px;
  }
  to{
    top: 10px;
  }
  
}

.modal-open {
  pointer-events: none;
  outline: none;
  /* Add this style */
}

.modal-open .modal {
  pointer-events: auto;
  /* Add this style */
  visibility: visible;
}