* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-size: 14px;
  font-family: monospace;
  color: white;
}

body,
html {
  width: 100%;
  height: 100%z;
  background-color: #343541;
}
.App {
  height: 100vh;
  width: 100vw;
  min-width: 200px;
  /* height: fit-content; */
  max-height: fit-content;
  background-color: #343541;
  overflow: hidden;
}

@media (max-width: 400px) {
  .App {
    height: 90vh;
  }
}
